{% extends 'main/base.html' %} 

{% block title %}Conventional Audiobook{% endblock %}

{% block content %}

<br> <br>
<br> <br>
<br> <br>

<h1 align="center">This is the PDF Upload page </h1>

<br> <br>
<h2 align="center">Select file to upload</h2>

<br> <br>
<!-- 
<div class = "addv_5">

  <iframe src="//approachconducted.com/watchnew?key=c29fcdc3f64fa09a1645baf5381d1db3" 
  width="160" height="600" frameborder="0" scrolling="no">

  </iframe>

</div> 

<div class = "addv_6">

  <iframe src="//approachconducted.com/watchnew?key=78a6e9d8c53e2a12084ee68774d03b10" 
  width="160" height="600" frameborder="0" scrolling="no"></iframe>

  </iframe>

</div> 

<div class = "addv_7">

  <iframe src="//approachconducted.com/watchnew?key=c41eccbc95b8f7385b3be7f65a414909" 
  width="160" height="600" frameborder="0" scrolling="no"></iframe>

  </iframe>

</div> 

<div class = "addv_8">

  <iframe src="//approachconducted.com/watchnew?key=9393450911d254647752f9108f1fd9f8" 
  width="160" height="600" frameborder="0" scrolling="no"></iframe>

  </iframe>

</div>  -->

<form method=post enctype=multipart/form-data align="center">
    {% csrf_token %}
      <div id="drop_area" style="padding:100px; border: 1px solid black">
          Click choose file then upload.

            <input type=file name=file>
            <input type=submit value=Upload>

      </div>

      <div id="upload_progress"></div>
      <div id="speed"></div>

</form>

{% endblock %}