
{% extends 'main/new_base.html' %}

{% block title %} Regression {% endblock %}


{% block content %}

{% load static %}


<head>
  <meta charset="UTF-8">
  <title>CodePen - Levitating webpack 3 logo - CSS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="{% static 'css/pdf_cube_loader.css' %}">

</head>

<!-- 

<div class = "addv_5">

    <iframe src="//approachconducted.com/watchnew?key=c29fcdc3f64fa09a1645baf5381d1db3" 
    width="160" height="600" frameborder="0" scrolling="no">
  
    </iframe>
  
</div> 

<div class = "addv_6">

    <iframe src="//approachconducted.com/watchnew?key=78a6e9d8c53e2a12084ee68774d03b10" 
    width="160" height="600" frameborder="0" scrolling="no"></iframe>
  
    </iframe>
  
</div> 

<div class = "addv_7">

    <iframe src="//approachconducted.com/watchnew?key=c41eccbc95b8f7385b3be7f65a414909" 
    width="160" height="600" frameborder="0" scrolling="no"></iframe>
  
    </iframe>
  
</div> 

<div class = "addv_8">

    <iframe src="//approachconducted.com/watchnew?key=9393450911d254647752f9108f1fd9f8" 
    width="160" height="600" frameborder="0" scrolling="no"></iframe>
  
    </iframe>
  
</div>  -->

<body>
<!-- partial:index.partial.html -->
<div class="container">
	<div class="scene">
		<div class="webpack-cube">
			<div class="outer-cube">
				<div class="face face-top"></div>
				<div class="face face-bottom"></div>
				<div class="face face-left"></div>
				<div class="face face-right"></div>
				<div class="face face-front"></div>
				<div class="face face-back"></div>
			</div>
			<div class="inner-cube">
				<div class="face face-top"></div>
				<div class="face face-bottom"></div>
				<div class="face face-left"></div>
				<div class="face face-right"></div>
				<div class="face face-front"></div>
				<div class="face face-back"></div>
			</div>
		</div>
		<div class="shadows-outer-container">
			<div class="shadow-outer"></div>
			</div>
		<div class="shadows-inner-container">
			<div class="shadow-inner"></div>
		</div>
	</div>
</div>

<br><br>
<br><br>
<br><br>
<div class = 'tree-header' align = 'center'>

      <p>

        Compressing

      </p>

</div>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js'></script>
</body>

{% endblock %}
