
{% extends 'main/new_base.html' %}

{% block title %} Regression {% endblock %}


{% block content %}

{% load static %}



<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/cube_animation.css' %}">

</head>

<br><br>
<br><br>
<br><br>
<br><br>


<!-- partial:index.partial.html -->

<div class = 'tree-header2' align = 'center'>

      <h1>

        Compressing The File

      </h1>

</div>

<br><br>
<br><br>
<br><br>
<br><br>

<div>




    <div class="container" >

      <div class="h1Container">

        <div class="cube h1 w1 l1">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>

        <div class="cube h1 w1 l2">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>

        <div class="cube h1 w1 l3">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>

        <div class="cube h1 w2 l1">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>

        <div class="cube h1 w2 l2">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>

        <div class="cube h1 w2 l3">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>

        <div class="cube h1 w3 l1">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>

        <div class="cube h1 w3 l2">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>

        <div class="cube h1 w3 l3">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>
      </div>

      <div class="h2Container">

        <div class="cube h2 w1 l1">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>

        <div class="cube h2 w1 l2">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>

        <div class="cube h2 w1 l3">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>

        <div class="cube h2 w2 l1">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>

        <div class="cube h2 w2 l2">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>

        <div class="cube h2 w2 l3">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>

        <div class="cube h2 w3 l1">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>
        <div class="cube h2 w3 l2">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>
        <div class="cube h2 w3 l3">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>
      </div>

      <div class="h3Container">

        <div class="cube h3 w1 l1">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>
        <div class="cube h3 w1 l2">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>
        <div class="cube h3 w1 l3">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>
        <div class="cube h3 w2 l1">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>
        <div class="cube h3 w2 l2">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>
        <div class="cube h3 w2 l3">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>
        <div class="cube h3 w3 l1">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>
        <div class="cube h3 w3 l2">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>
        <div class="cube h3 w3 l3">
          <div class="face top"></div>
          <div class="face left"></div>
          <div class="face right"></div>
        </div>
      </div>

    </div>





    </div>







</div>



<!-- partial -->



<br><br>
<br><br>
<br><br>


<div class = 'tree-header' align = 'center'>

      <p>

        Compressing

      </p>

</div>

<!--<div class="content_box" id="result-content" align="center">-->


<!--  <br><br>-->
<!--  <br><br>-->
<!--  <br><br>-->

<!--  <h1 align="center">This is the PDF Download page </h1>-->



<!--</div>-->


{% endblock %}
