{% extends 'main/base.html' %}

{% block title %} Regression {% endblock %}


{% block content %}

{% load static %}

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/magnetron_gears.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->

<div id="drop_area" style = "padding:100px">

        <div align = "center">

        <div class="background"></div>
          <div class="container">
            <div class="gear gear1">
              <div class="gear"></div>
              <div class="tooth teeth1"></div>
              <div class="tooth teeth2"></div>
              <div class="tooth teeth3"></div>
              <div class="tooth teeth4"></div>
              <div class="tooth teeth5"></div>
              <div class="tooth teeth6"></div>
              <div class="gear_hole">
                <div class="hole_structure"></div>
                <div class="hole_structure"></div>
                <div class="hole_structure"></div>
                <div class="hole_structure_point"></div>
              </div>
            </div>


            <div class="gear gear2">
              <div class="gear"></div>
              <div class="tooth teeth1"></div>
              <div class="tooth teeth2"></div>
              <div class="tooth teeth3"></div>
              <div class="tooth teeth4"></div>
              <div class="tooth teeth5"></div>
              <div class="tooth teeth6"></div>
              <div class="gear_hole">
                <div class="hole_structure"></div>
                <div class="hole_structure"></div>
                <div class="hole_structure"></div>
                <div class="hole_structure_point"></div>
              </div>
            </div>


            <div class="gear gear3">
              <div class="gear"></div>
              <div class="tooth teeth1"></div>
              <div class="tooth teeth2"></div>
              <div class="tooth teeth3"></div>
              <div class="tooth teeth4"></div>
              <div class="tooth teeth5"></div>
              <div class="tooth teeth6"></div>
              <div class="gear_hole">
                <div class="hole_structure"></div>
                <div class="hole_structure"></div>
                <div class="hole_structure"></div>
                <div class="hole_structure_point"></div>
              </div>
            </div>


            <div class="gear gear4">
              <div class="gear"></div>
              <div class="tooth teeth1"></div>
              <div class="tooth teeth2"></div>
              <div class="tooth teeth3"></div>
              <div class="tooth teeth4"></div>
              <div class="tooth teeth5"></div>
              <div class="tooth teeth6"></div>
              <div class="gear_hole">
                <div class="hole_structure"></div>
                <div class="hole_structure"></div>
                <div class="hole_structure"></div>
                <div class="hole_structure_point"></div>
              </div>
            </div>


            <div class="gear gear5">
              <div class="gear"></div>
              <div class="tooth teeth1"></div>
              <div class="tooth teeth2"></div>
              <div class="tooth teeth3"></div>
              <div class="tooth teeth4"></div>
              <div class="tooth teeth5"></div>
              <div class="tooth teeth6"></div>
              <div class="gear_hole">
                <div class="hole_structure"></div>
                <div class="hole_structure"></div>
                <div class="hole_structure"></div>
                <div class="hole_structure_point"></div>
              </div>
            </div>

            <div class="gear gear6">
              <div class="gear"></div>
              <div class="tooth teeth1"></div>
              <div class="tooth teeth2"></div>
              <div class="tooth teeth3"></div>
              <div class="tooth teeth4"></div>
              <div class="tooth teeth5"></div>
              <div class="tooth teeth6"></div>
              <div class="gear_hole">
                <div class="hole_structure"></div>
                <div class="hole_structure"></div>
                <div class="hole_structure"></div>
                <div class="hole_structure_point"></div>
              </div>
            </div>
          </div>



        </div>


</div>



<!-- partial -->

</body>

{% endblock %}
