
{% extends 'main/new_base.html' %}

{% block title %} Regression {% endblock %}


{% block content %}

{% load static %}



<head>
  <meta charset="UTF-8">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{% static 'css/planet_style.css' %}">

</head>

<!-- 
<div class = "addv_5">

   <iframe src="//approachconducted.com/watchnew?key=c29fcdc3f64fa09a1645baf5381d1db3" 
   width="160" height="600" frameborder="0" scrolling="no">
 
   </iframe>
 
</div> 

<div class = "addv_6">

   <iframe src="//approachconducted.com/watchnew?key=78a6e9d8c53e2a12084ee68774d03b10" 
   width="160" height="600" frameborder="0" scrolling="no"></iframe>
 
   </iframe>
 
</div> 

<div class = "addv_7">

   <iframe src="//approachconducted.com/watchnew?key=c41eccbc95b8f7385b3be7f65a414909" 
   width="160" height="600" frameborder="0" scrolling="no"></iframe>
 
   </iframe>
 
</div> 

<div class = "addv_8">

   <iframe src="//approachconducted.com/watchnew?key=9393450911d254647752f9108f1fd9f8" 
   width="160" height="600" frameborder="0" scrolling="no"></iframe>
 
   </iframe>
 
</div>  -->


<div id="drop_area" style = "padding:100px">

        <div align = "center">


         <div class="content">
            <div class="planet">
               <div class="ring"></div>
                  <div class="cover-ring"></div>
               <div class="spots">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>

               </div>

            </div>

               <p>
                  Synthesizing
               </p>
            
            </div>


        </div>


</div>



{% endblock %}

